*{
    box-sizing: border-box;
    font-family: 'Righteous', cursive;
    color: #5E6472;
}

body {
    background: linear-gradient(#B8F2E6 0%, #B8F2E6 25%,#AED9E0 50%, #AED9E0 75%, #C8BCDA 100%);
    min-height: 100vh;
    display: flex; 
    flex-direction: column;
    width: 100%;
    margin: auto;
}

h2 {
    font-size: 40px;
    background: transparent;
    text-align: center;
    margin-bottom: 0;
}

