*{
    box-sizing: border-box;
    font-family: 'Righteous', cursive;
    color: #5E6472;
}

body {
    background: linear-gradient( #B8F2E6 50%,#AED9E0 75%, #AED9E0 75%, #C8BCDA 100%);
    min-height: 100vh;
    display: flex; 
    flex-direction: column;
    min-width: 100vw;
    margin: 0;
}

header {
    background-image: url("./assets/lightning.jpg");
}

h2 {
    font-size: 40px;
    background: transparent;
    text-align: center;
    margin-bottom: 0;
}

img:hover{
    opacity: 85%;
}

.form-box {
    min-width: 100%;
    /* border: dotted #ffa69e77 1vw; */
    margin: 0vw;
    padding: 5vw;
}

.form-box label {
    display: block;
    text-align: center;
    font-size: 20px;
    margin: 0 0 2vh 0;
  }

  .form-box input,
textarea {
  display: block;
  width: 100%;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  margin: 0.9vw 0;
  border: 0;
  border-radius: 5px;
  font-size: 20px;
}

.form-box textarea {
  height: 15vh;
}

.form-box button {
    display: block;
    text-align: center;
    font-size: 20px;
    margin: auto;
}


